<mat-card class="player-tile">
    <mat-card-title>{{ playerName }}</mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="3">
        <mat-grid-tile>
          <mat-icon
          aria-hidden="false"
          aria-label="Add point"
          (click)="decrementPoints()">
            remove_circle
          </mat-icon>
        </mat-grid-tile>
        <mat-grid-tile>
          <span class="points">{{ points }}</span>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-icon
          aria-hidden="false"
          aria-label="Add point"
          (click)="incrementPoints()">
          add_circle_outline
        </mat-icon>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
</mat-card>
