<mat-card class="player-tile">
  <mat-card-title class="mat-card-title" [class.highlight]="wasTapped">
    {{ playerName }}
  </mat-card-title>
  <mat-card-content class="pointing-container">
    <mat-grid-list cols="9" rowHeight="4rem" [gutterSize]="'2px'">
      <mat-grid-tile colspan="3" (click)="decrementPoints()">
        <mat-icon aria-hidden="false" aria-label="Subtract point">
          remove_circle</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <span class="points">
          <strong>{{ points }}</strong>
        </span>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" (click)="incrementPoints()">
        <mat-icon aria-hidden="false" aria-label="Add point">
          add_circle_outline
        </mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>