<app-toolbar></app-toolbar>

<mat-form-field class="full-width">
  <input matInput
    type="text"
    value="{{userToAdd}}"
    [(ngModel)]="userToAdd"
    placeholder="Add a player"
    (keydown.enter)="onAddButtonClick()">
  <button mat-button
    matSuffix mat-icon-button
    aria-label="Clear"
    (click)="onAddButtonClick()"
    [disabled]="userToAdd === '' || players.length >= 10 ? true : null">
    <mat-icon class="add-icon">person_add</mat-icon>
  </button>
</mat-form-field>

<!-- <span *ngIf="players.length > 0">
    Leader feature coming soon
</span> -->

<mat-grid-list cols="3" rowHeight="113px">
  <mat-grid-tile *ngFor="let player of players">
    <app-person-card
      [playerName]="player.name">
    </app-person-card>
  </mat-grid-tile>
</mat-grid-list>
